@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

@if (LoggedIn)
{
    <!-- nav -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
            <NavLink href="users" class="nav-item nav-link">Users</NavLink>
            <NavLink href="account/logout" class="nav-item nav-link">Logout</NavLink>
        </div>
    </nav>
}

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="/account/login">Login</a>
    </div>
    <div class="top-row px-4">
        <a href="/account/logout">Logout</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    public bool LoggedIn
    {
        get { return AccountService.User != null; }
    }
}